# .coveragerc for analytics-tasks
[run]
data_file = .coverage
source = edx/analytics

[report]
ignore_errors = True

[html]
title = Analytics-Tasks Python Test Coverage Report
directory = report

[xml]
output = coverage.xml
