[run]
omit = analyticsdataserver/settings*
       *wsgi.py
       analytics_data_api/management/commands/generate_fake_course_data.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    raise NotImplementedError